name: Build and Package

on: [push]

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: |
          if ('${{ startsWith(github.ref, 'refs/tags/') }}' -eq 'true') {
            dotnet publish -r win-x64 -c Release /p:Version=${{ github.ref_name }}
          } else {
            dotnet publish -r win-x64 -c Release
          }

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artwork4dmd-windows
          path: .\bin\Release\net8.0\win-x64\publish\
          retention-days: 7

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: |
          if [[ ${{ github.ref }} == refs/tags/* ]]; then
            dotnet publish -r linux-x64 -c Release /p:Version=${{ github.ref_name }}
          else
            dotnet publish -r linux-x64 -c Release
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artwork4dmd-linux
          path: ./bin/Release/net8.0/linux-x64/publish/

  create-release:
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: artwork4dmd-windows

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: artwork4dmd-linux

      - name: ls
        run: ls -alrt
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          generateReleaseNotes: true
          prerelease: ${{ !startsWith(github.ref, 'refs/tags/') }}
          allowUpdates: true
          artifacts: "artwork4dmd*"
          tag: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || format('v{0}', github.sha) }}
